<div class="columns column is-8 left">
  <div class="columns column is-4 is-centered">
    <img class="profileImg" src="<%= profileImg %>">
  </div>
  <div class="column is-8">
  <span class="title"><%= username %>
  <% if(locals.isLoggedIn) { %>
    <%   if (locals.currentUser.username === username) {%>
      <a href="/users/<%= _id %>/edit"><button type="button" name="button">Edit Profile</button></a>
    <% } else { %>
      <a href="#"><button type="button" name="button">Follow</button></a>
  <% } %>
  <% } %>
  </span>
  <% if (name) { %>
    <p><%= name %>
  <% } %>
  <% if (bio) { %>
    <p><%= bio %>
  <% } %>
  </div>
</div>

<div class="columns column is-8 is-centered is-multiline is-mobile">  <% addedPosts.forEach(post => { %>
  <div class="column is-4-desktop is-4-tablet is-6-mobile">
    <figure class="image is-square">
      <a href = "/posts/<%= post.id %>">
        <img class="photo" src="<%= post.img %>">
      </a>
      <div class="popinfo">
      </div>
    </figure>
  </div>
  <% }) %>
</div>
