<div class="columns is-centered">
  <div class="column is-6">
    <img src="<%= img %>"/>
  </div>
  <div class="column is-6">
    <h1><%= username %></h1>
    <h2><%= description %></h2>
    <h3><%= location %></h3>
    <h4>Date Posted <%= time %></h4>

  </div>
</div>
