<div class="columns is-centered">
  <div class="column is-6">
    <img src="<%= img %>"/>
  </div>
  <div class="column is-6">
    <a href="#"<h1><%= username %></h1></a>
    <h2><%= description %></h2>
    <h3><%= location %></h3>
    <h4>Date Posted <%= time %></h4>
    <% if(locals.isLoggedIn) { %>
      <div class="section">
        <div>
          <a class="button" href="/posts/<%= id %>/edit">Edit</a>
        </div>
        <div>
          <form action="/posts/<%= id %>?_method=DELETE" method="post">
            <button class="button is-danger">DELETE</button>
          </form>
        </div>
      </div>
      <div>
        <form method="POST" action="/posts/<%= _id %>/comments">
          <textarea name="content"></textarea>
          <input name="username" type="hidden" value="<%= locals.currentUser.username %>"/>
          <button>Post</button>
        </form>
    <% } %>
  </div>
</div>
</div>
